<%= form_for(@book) do |f| %>
  <%= render 'shared/error_messages', object: f.object %>

  <%= f.label :title %>
  <%= f.text_field :title, class: 'form-control' %>

  <%= f.label :publisher %>
  <%= f.email_field :publisher, class: 'form-control' %>

  <%= submit_tag "Add Author", :type => 'button', :id => 'addAuthor', 
          :onclick => 'addAuthorField()' %> 
   
 
  <div id="authorHeader" style="display:none">Author:  </div>
   
 
  <ul id="myList">
  </ul>

  <%= f.label :ISBN %>
  <%= f.text_field :ISBN, class: 'form-control' %>

  <%= f.label :publish_date %>
  <%= f.datetime_select :publish_date, class: 'form-control' %>

  <%= f.submit yield(:button_text), class: "btn btn-primary" %>
<% end %>


