<p id="notice"><%= notice %></p>

<h1>Books</h1>

<%= will_paginate %>

<ul class="books">

  <% @books.each do |book| %>
    <%= render book%>
  <% end %>
</ul>
<%= will_paginate %>

<%if logged_in?%>

	<%= link_to 'New Book', new_book_path %>
<%end%>
